

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");




* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: rgb(113, 240, 198);
    color: #001f3f;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}




.valorCarrito{
font-size: small;

}




header {
    grid-area: header;
}

nav {
    grid-area: nav;
}



.botonCarrito {
    border: none;
    background-color: none;

}



@media (min-width:320px) {



    nav ul {
        display: flex;
        justify-content: space-between;

    }



    .encabezadoUno {
        text-align: center;
    }
}

@media (min-width:768px) {


    header {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .encabezado1 {
        margin-top: 6rem;
    }


    nav {
        margin-top: 2rem;
    }


    .encabezadoUno {
        text-align: left;
    }



}

@media (min-width:1024px) {

    .encabezado1 {

        font-size: 50px;
    }


}


